@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-image: url('/assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #c93a59;*/
  min-width: 700px;
  font-family: 'Orbitron', sans-serif;
}

.mega-container {
  min-height: 100vh;
}

#logo {
  width: 230px;
  height: 150px;
  background-image: url('/assets/images/lion.png');
  background-size: cover;
}

#logo:hover {
  background-image: url('/assets/images/lion.png');
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  height: 180px;
}

.question-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3%;
  margin: 0;
  border-bottom: 6px solid #46bbeb;
}

.index-questions:hover {
  background-color: white;
}

.question-padder {
  padding: 20px 5%;
}

.question-link {
  width: 100%;
}

.question-padder a:hover {
  text-decoration: none;
}

.question-text-link {
  color: #46bbeb;
  text-shadow: 1px 1px black;
  font-size: 2.5em;
}

.question-by-link {
  color: #354a82;
}

.answer-container {
  padding: 0;
  margin: 5%;
  overflow: hidden;
}

.answer-text-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.answer-row {
  background-color: #92c223;
  margin: 0;
  font-style: italic;
  padding: 1% 1% 0 3%;
  border-bottom: 6px solid #92c223;
}

.answer-row p {
  margin: 0;
}

.reply-arrow {
  color: white;
  padding-left: 15%;
  transform: scaleY(-1);
  font-size: 4em;
}

.arrow-container {
  background-color: transparent;
}

.add-container {
  margin-left: 5%;
  margin-right: 5%;
}

.add-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 4px solid #46bbeb;
  padding: 3%;
}

.edit-question-form {
  padding-top: 3%;
}

.option-btn {
  width: 100%;
  margin-top: 3%;
  background-color: #46bbeb;
  color: black;
  border-radius: 0;
  height: 45px;
  font-size: 20px;
}

.cancel-btn {
  width: 100%;
  background-color: #c93a59;
  border-radius: 0;
  color: white;
}

.submit-btn {
  width: 100%;
  background-color: #46bbeb;
  border-radius: 0;
}

.destroy-btn {
  width: 100%;
  background-color: #c93a59;
  border-radius: 0;
  color: white;
}

.destroy-btn:hover {
  background-color: black;
  color: #c93a59;
}

.option-btn:hover, .submit-btn:hover {
  color: white;
}
