<div class="container-fluid header row">
  <div class="col-xs-3">
    {{#link-to 'index' class="navbar-brand"}}<img id="logo" alt="Blue Question Block" src="/assets/images/questionblockblue.png">{{/link-to}}
  </div>
  <div class="col-xs-9">
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
