{{outlet}}
<h1>hello</h1>
<div class="questions-container">
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id}}{{question.text}}{{/link-to}}
    <p>{{question.author}} asks: {{question.text}}</p>
  {{/each}}
</div>
