{{outlet}}
<h1>hello</h1>
<div class="questions-container">
  {{#each model.questions as |question|}}
    <h3>{{#link-to 'question' question.id}}{{question.text}}{{/link-to}}</h3>
    <h6>Asked by: {{question.author}}</h6>
  {{/each}}
</div>
