{{outlet}}
<div class="container">
  {{question-tile question=model editQuestionSave="editQuestionSave" sendDeleteAnswer="deleteAnswer"}}

  {{add-answer sendAnswer="saveAnswer" question=model}}
</div>
